@import "reset.css";

@import "header.css";

@import "main.css";

@import "footer.css";

.media-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

@media screen and (max-width: 500px) {
  .media-msg {
    display: none;
  }
}
